body {
    background-color: #D6D6D6;
}

.mail {
    height: 40em;
    padding-right: 1em;
    background-color: #FFFFFF;
}

.mail-content {
    padding: 1em;
}

.list {
    height: 40em;
    padding-left: 1em;
    background-color: #FFFFFF;
}

.list-content {
    padding: 1em;
}